    .contact-container {
        background: linear-gradient(45deg, #845ec2, #d65db1, #ff6f91, #ff9671, #ffc75f, #f9f871);
        width: 700;
        height: fit-content;
        height: 200;
        margin: auto;
        margin-bottom: 0.5em;
        text-align: center;
        color: white;
        position: relative;
        top: -12vh;
        font-family: cursive;
    }
    
    .contact-container h3 {
        font-size: 30px;
        padding-top: 2em;
        padding-bottom: 0em;
    }
    
    .mailing-address,
    .emailPhone-contact {
        margin: 2.5em 0;
        text-align: left;
        letter-spacing: normal;
    }
    
    .emailPhone-contact a {
        color: white;
        text-decoration: none;
    }
    
    .contact-form {
        text-align: center;
    }
    
    .contact-form input {
        width: 300px;
        color: white
    }
    
    placeholder {
        color: white
    }
    
    #messageBox {
        padding: 0.5em;
        border: none;
        outline: none;
        border-radius: 0.5em;
    }
    
    .contact-info {
        background: chartreuse;
        margin-top: -10vh;
        margin-right: 3em;
        margin-left: 3em;
    }
    
    .emailPhone-contact,
    .contail-mail,
    .contact-form {
        text-align: center;
        font-family: cursive;
        padding: 1em
    }